<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link rel="icon" type="image/png" href="./favicon.png" />
    <title>ELA Message - elastos&elaphant chat</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/offcanvas/">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="main.css" rel="stylesheet">

  </head>
  <body class="bg-light">
    <main id="main" role="main" class="container">
      <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
        <img class="mr-3" src="logo.png" alt="" width="48" height="48">
        <div class="lh-100">
          <h3 class="mb-0 text-white lh-100"><b>ELA Message</b></h3>
          <small>Sweet talking with ELA candy ^_^</small>
        </div>
      </div>


      <div id="messageWall" class="my-3 p-3 bg-white rounded shadow-sm">
        <h4 class="border-bottom border-gray pb-2 mb-0"><b>Channels({{ following.length }})</b></h4>
        <div class="list-group list-group-flush">
          <a href="#" data-toggle="modal" data-target="#messagesListView"  class="list-group-item list-group-item-action" data-whatever="channel" v-for="(item, index) in following" v-if="index<5">
            <div class="row">
              <div class="col-10">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1 cryptoname-title">#{{ item.key }}</h5>
                </div>
                <!--small>badge badge-primary badge-pill.</small-->
              </div>
              <div class="col-2 text-right">
                  <span class="badge badge-secondary badge-pill">{{ localStorage.getItem(currentDID+"_"+currentName+"_#"+item.key+"_unreadmessage") }}</span>
              </div>
            </div>
          </a>
        </div>
        <div class="row">
          <small class="d-block text-left mt-3 col">
            <a href="#" data-toggle="modal" data-target="#newSubscriptionDialog">+Follow</a>
          </small>
          <small class="d-block text-right mt-3 col">
            <a href="#" data-toggle="modal" data-target="#cryptoNameListView" data-whatever="channel">+View All</a>
          </small>
        </div>
      </div>

      <div id="personalMessage" class="my-3 p-3 bg-white rounded shadow-sm">
        <h4 class="border-bottom border-gray pb-2 mb-0"><b>Messages({{ messages.length }})</b></h4>
        <div class="list-group list-group-flush">
          <a href="#" data-toggle="modal" data-target="#messagesListView" data-whatever="messages" v-for="(item, index) in messages" v-if="index<5" class="list-group-item list-group-item-action">
            <div class="row">
              <div class="col-10">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1 cryptoname-title">@{{ item.key }}</h5>
                </div>
                <!--small>badge badge-primary badge-pill.</small-->
              </div>
              <div class="col-2 text-right">
                  <span class="badge badge-secondary badge-pill">{{ item.unread }}</span>
              </div>
            </div>
          </a>
        </div>
        <div class="row">
          <small class="d-block text-left mt-3 col">
            <a href="#" data-toggle="modal" data-target="#sendMessageDialog" data-whatever="newMessage" data-cmd="MSG">+New</a>
          </small>
          <small class="d-block text-right mt-3 col">
            <a href="#" data-toggle="modal" data-target="#cryptoNameListView" data-whatever="messages">+View All</a>
          </small>
        </div>
      </div>


      <div class="modal fade show" id="cryptoNameListView" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-modal="true" style="display: none;">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalScrollableTitle">List</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="list-group list-group-flush">
                <a href="#" data-toggle="modal" data-target="#messagesListView" v-for="(item, index) in messages" class="list-group-item list-group-item-action" v-bind:['data-whatever']="type">
                  <div class="row">
                    <div class="col-10">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1 cryptoname-title">{{ type=='messages'?'@'+item.key : '#'+item.key }}</h5>
                      </div>
                      <!--small>badge badge-primary badge-pill.</small-->
                    </div>
                    <div class="col-2 text-right">
                        <span class="badge badge-secondary badge-pill">{{ type=='messages' ? localStorage.getItem(currentDID+"_"+currentName+"_@"+item.key+"_unreadmessage") : localStorage.getItem(currentDID+"_"+currentName+"_#"+item.key+"_unreadmessage") }}</span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="modal-footer">
              
            </div>
          </div>
        </div>
      </div>


      <div class="modal fade show" id="messagesListView" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-modal="true" style="display: none;">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalScrollableTitle">{{ title }}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="input-group flex-nowrap">
              <div class="input-group-prepend">
                <span class="input-group-text" id="addon-wrapping">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                    <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                  </svg>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="keyword" aria-label="keyword" aria-describedby="addon-wrapping" v-model="keyword">
            </div>
            <div class="modal-body">
              <div class="list-group list-group-flush">
                 <a href="#" data-toggle="modal" data-target="#sendMessageDialog" data-whatever="replyTo" class="list-group-item list-group-item-action flex-column" v-for="msg in messages" v-bind:['data-cmd']="cmd" v-bind:['data-cryptoname']="currentName==msg.t? msg.f : msg.t" v-if="keyword=='' || msg.m.indexOf(keyword)>=0 || msg.t.indexOf(keyword)>=0 || msg.f.indexOf(keyword)>=0">
                  <div class="d-flex w-100 justify-content-between align-items-centerx message-header">
                    <small v-if="cmd=='MSG' && currentName==msg.f">{{ moment(msg.timestamp*1000).format("DD-MM-YYYY HH:mm") }}</small>
                    <h5 class="mb-1 cryptoname-title" v-if="cmd == 'WAL'">
                      {{ msg.f }}
                    </h5>
                    <h5 class="mb-1 cryptoname-title" v-if="cmd == 'MSG'">
                      <!--svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-arrow-in-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg" v-if="currentName==msg.t">
                        <path fill-rule="evenodd" d="M4.646 8.146a.5.5 0 0 1 .708 0L8 10.793l2.646-2.647a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z"/>
                        <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-1 0v-9A.5.5 0 0 1 8 1z"/>
                        <path fill-rule="evenodd" d="M1.5 13.5A1.5 1.5 0 0 0 3 15h10a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 13 4h-1.5a.5.5 0 0 0 0 1H13a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5v-8A.5.5 0 0 1 3 5h1.5a.5.5 0 0 0 0-1H3a1.5 1.5 0 0 0-1.5 1.5v8z"/>
                      </svg>
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-arrow-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg" v-if="currentName!=msg.t">
                        <path fill-rule="evenodd" d="M4.646 4.354a.5.5 0 0 0 .708 0L8 1.707l2.646 2.647a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 0 0 0 .708z"/>
                        <path fill-rule="evenodd" d="M8 11.5a.5.5 0 0 0 .5-.5V2a.5.5 0 0 0-1 0v9a.5.5 0 0 0 .5.5z"/>
                        <path fill-rule="evenodd" d="M2.5 14A1.5 1.5 0 0 0 4 15.5h8a1.5 1.5 0 0 0 1.5-1.5V7A1.5 1.5 0 0 0 12 5.5h-1.5a.5.5 0 0 0 0 1H12a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5H4a.5.5 0 0 1-.5-.5V7a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 0 0-1H4A1.5 1.5 0 0 0 2.5 7v7z"/>
                      </svg-->
                      {{ currentName==msg.f? "me" : msg.f }}
                    </h5>
                    <small v-if="cmd=='MSG' && currentName==msg.t">{{ moment(msg.timestamp*1000).format("DD-MM-YYYY HH:mm") }}</small>
                  </div>
                  <p class="mb-1">{{ escapeHTML(msg.m) }}</p>
                  <small>Candy is {{ msg.amount/100000000 }} ELA.</small>
                  <small>{{ "["+msg.input.slice(0, 4)+"..."+msg.input.slice(-8)+"]" }}</small>
                </a>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sendMessageDialog" data-whatever="replyTo" v-if="type == 'Reply'" v-bind:['data-cmd']="cmd" v-bind:['data-cryptoname']="cryptoname">Reply</button>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sendMessageDialog" data-whatever="postMessage" v-if="type == 'Post'" v-bind:['data-cmd']="cmd" v-bind:['data-cryptoname']="cryptoname">Post</button>
            </div>
          </div>
        </div>
      </div>



      <div class="modal fade" id="newSubscriptionDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New Subscription</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">CryptoName:</label>
                  <input type="text" placeholder="Types the CryptoName" class="form-control" id="subscription-name" v-model="subscriptionName">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" v-on:click="save">Subscription</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="settingNameDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Setting your CryptoName</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">CryptoName:</label>
                  <input type="text" placeholder="Types the CryptoName" class="form-control" id="my-name" v-model="myName">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" v-on:click="save">Save</button>
            </div>
          </div>
        </div>
      </div>


      <div class="modal fade" id="sendMessageDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New message</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p v-if="quote != ''">
                {{ quote }}
              </p>
              <form>
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">To: </label>
                  <input type="text" placeholder="Types your CryptoName" class="form-control" id="receiver-name" @blur="checkRecipient" v-model="recipient">
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Message:</label>
                  <textarea rows="4" class="form-control" placeholder="The maximum length is 140 characters. The message will be publicly stored on the blockchain forever in text. Anyone can read it." id="message-text" v-model="messageBody"></textarea>
                </div>
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Who am I:</label>
                  <label placeholder="Select your CryptoName" class="form-control" id="sender-name">{{ currentName }}</label>
                </div>
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Candy(ELA):</label>
                  <input type="text" class="form-control" id="send-amount" value="0.000001" v-model="amount">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" v-on:click="sendMessage" :disabled="recipientChecked != 1 && recipient.length==0">Send message</button>
            </div>
          </div>
        </div>
      </div>
      <footer class="page-footer font-small blue">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 text-muted">

          <p>
          Height: <span class="text-primary">1234567</span>&nbsp;Block</p>
          Powered by
          <a href="https://elaphant.app/">@ElaphantTeam</a>
        </div>
        <!-- Copyright -->
      </footer>
    </main>
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
    <script src="js/jquery_3.5.1.slim.min.js"></script>
    <script src="js/bootstrap.bundle.js"></script>
    <script src="js/index.umd.js"></script>
    <script src="js/web3.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/sha256.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <script src="js/domain_abi.js"></script>
    <script src="js/crypton.js"></script>
    <script src="js/elastos-wallet-api.js"></script>
    <script src="js/elamessage.js"></script>
    <script src="main.js"></script>
  </body>
</html>
