<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link rel="icon" type="image/png" href="./favicon.png" />
    <title>ELA Message - elastos&elaphant chat</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/offcanvas/">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="main.css" rel="stylesheet">

  </head>
  <body class="bg-light">
    <main id="main" role="main" class="container">
      <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
        <img class="mr-3" src="logo.png" alt="" width="48" height="48">
        <div class="lh-100">
          <h3 class="mb-0 text-white lh-100"><b>ELA Message Wall</b></h3>
          <small>Sweet talking with ELA candy ^_^</small>
        </div>
      </div>

      <div id="SendToMessage">
          <div class="modal-content">
            <div class="modal-body">
              <h5 class="text-center">
                >> Notification <<
              </h5>
              <p>
                {{ quote }}
              </p>
              <form>
                <div class="form-group" >
                  <label for="recipient-name" class="col-form-label" @focus="recipientChecked=0">To: </label>
                  <input type="text" placeholder="The receiver's CryptoName" class="form-control" id="receiver-name" @blur="checkRecipient" v-model="recipient">
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Message:</label>
                  <textarea rows="4" class="form-control" placeholder="The maximum length is 140 characters. The message will be publicly stored on the blockchain forever in text. Anyone can read it." id="message-text" v-model="messageBody" autofocus></textarea>
                </div>
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Candy(ELA):</label>
                  <input type="text" class="form-control" id="send-amount" value="0.01" v-model="amount">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" @click="sendMessage" :disabled="recipientChecked != 1 || amount < 0.01 || messageBody.length == 0">Anonymous Send</button>
            </div>
          </div>
      </div>
      <footer class="page-footer font-small blue">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 text-muted">
          Powered by
          <a href="https://elaphant.app/">@Elaphant</a>
        </div>
        <!-- Copyright -->
      </footer>
    </main>
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
    <script src="js/jquery_3.5.1.slim.min.js"></script>
    <script src="js/bootstrap.bundle.js"></script>
    <script src="js/index.umd.js"></script>
    <script src="js/web3.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/sha256.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <script src="js/domain_abi.js"></script>
    <script src="js/crypton.js"></script>
    <script src="js/elastos-wallet-api.js"></script>
    <script src="js/elamessage.js"></script>
    <script src="sendto.js"></script>
  </body>
</html>
